###### For this project is neccessary ######

Jupyter notebook (Python 3)

Google Colab

ZipFile ngrok-stable-linux-amd64.zip to use ngrok and run Streamlit (you will have on the repo)

Libraries and dependencies run on notebooks 
